@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');

:root {
  --light-grayish-cyan: hsl(185, 41%, 84%);
  --white-color: #fff;
  --input-color: #F3F9FA;
  --label-color: #5E7A7D;
  --primary-color: #00474B;
  --per-person-color: #7F9D9F;
  --secondary-color: #26C2AE;
  --error-field: #E17052;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Utility classes */
.button-selected {
  background-color: var(--secondary-color) !important;
  color: var(--primary-color) !important;
}

.valid-selection {
  border: 2px solid var(--secondary-color) !important;
}

.error-selection {
  border: 2px solid var(--error-field) !important;
}

.error-message {
  color: var(--error-field);
  font-weight: 700;
  top: 32px;
  right: 2px;
  position: absolute;
}

/* --------------- */

label {
  color: var(--label-color);
  margin-bottom: 0.5rem;
  font-weight: 700;
}

.input__icon-bill  {
  position: absolute;
  width: 10px;
  height: 15.46px;
  left: 15px;
  top: 48px;
  z-index: 1;
}

.input__icon-people {
  position: absolute;
  width: 13px;
  height: 16px;
  top: 79px;
  left: 15px;
  z-index: 1;
}

.bill-group, .number-of-people-group {
  position: relative;
}


input[type = 'number'] {
  font-size: 24px;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 0.8rem;
  font-weight: 700;
  color: var(--primary-color);
  text-align: right;
  background-color: var(--input-color);
}

input[type = 'button'] {
  font-size: 24px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

img {
  display: block;
  height: 100%;
}

.number-of-people {
  margin-top: 2rem;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--light-grayish-cyan);
  font-family: 'Space Mono', sans-serif;
}

.main__header {
  margin-block: 3.125rem;
}

.bill-group {
  margin-bottom: 2.5rem;
}

.number-of-people-group {
  margin-top: .5rem;
}

.main__body {
  background-color: var(--white-color);
  border-radius: 25px 25px 0 0;
  padding: 2rem;
  max-width: 100%;

  .bill-group, .number-of-people-group {
    display: flex;
    flex-direction: column;
  }

.tip__grid {
  display: grid;
  grid-template-columns: repeat(2, 9.164rem);
  gap: 1rem;

    input[type = 'button'], input[type = 'number'] {
      padding-block: 0.63rem;
      color: var(--input-color);
      background-color: var(--primary-color);
      font-weight: 700;

    &:last-child {
      color: var(--label-color);
      background-color: var(--input-color);
      text-align: right;
      padding-right: 1rem;
    }
  }
}
  
.finished__calculation {
  background-color: var(--primary-color);
  padding: 1.5rem;
  border-radius: 15px;
  margin: 2rem 0 0 0;

  .tip__amount {
    margin-bottom: 1.5rem;
  }

  .tip-amount {
    color: var(--secondary-color);
    font-size: 2rem;
  }

  .per-person {
    color: var(--per-person-color);
    font-size: 13px;
  }

  .description {
    color: var(--input-color);
  }

  .tip__amount, .tip__total {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .button {
    margin-top: 2rem;
    border-radius: 5px;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border: 0;
    width: 100%;
    padding: .6rem;
    font-size: 20px;
    font-weight: 700;
    font-family: inherit;
    cursor: pointer;
  }
 }
}

@media (min-width: 760px) {
  .main__body {
    display: flex;
    border-radius: 25px;
    padding: 2rem;
    gap: 2rem;
    align-items: center;
  }

  .finished__calculation {
    padding: 2.5rem !important;
    width: 417px;
    margin-top: 0 !important;
  }

  .tip__grid {
    grid-template-columns: repeat(3, 117px) !important;

    input[type = 'number'] {
      font-size: 20px;
    }
  }

  .button {
    margin-top: 8rem !important;
  }

  .tip-amount {
    font-size: 48px !important;
  }

  .input__icon-people{
    top: 80px;
  }

  .input__icon-bill {
    top: 49px;
  }
}