@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');

:root {
  --light-grayish-cyan: hsl(185, 41%, 84%);
  --white-color: #fff;
  --input-color: #F3F9FA;
  --label-color: #5E7A7D;
  --primary-color: #00474B;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

label {
  color: var(--label-color);
  margin-bottom: 0.5rem;
  font-weight: 700;
}

input {
  font-size: 24px;
  border: none;
  border-radius: 5px;
}

img {
  display: block;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--light-grayish-cyan);
  font-family: 'Space Mono', sans-serif;
  /* font-size: 24px; */
}

.main__header {
  margin-block: 3.125rem;
}

.main__body {
  background-color: var(--white-color);
  border-radius: 25px 25px 0 0;
  padding: 2rem;
  width: 100%;

  .main__choices {
    display: flex;
    flex-direction: column;

    #bill-price {
      padding: 0.5rem 0.8rem;
      font-weight: 700;
      color: var(--primary-color);
      text-align: right;
      background-color: var(--input-color);
    }

    .tip__grid {
      display: grid;
      grid-template-columns: repeat(2, 9.164rem);
      gap: 1rem;
      align-self: center;

      input[type = 'button'], input[type = 'number'] {
        padding-block: 0.63rem;
        color: var(--input-color);
        background-color: var(--primary-color);
        font-weight: 700;

        &:last-child {
          color: var(--label-color);
          background-color: var(--input-color);
          text-align: right;
          padding-right: 1rem;
        }
      }
    }
  }
}